@model dynamic

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chilli Software">
    <meta name="author" content="Chilli Software">

    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">

    <!-- Styles -->
    <link href="/_app/home/styles/style.bundle.css" rel="stylesheet">
    <link href="/_app/shared/styles/style.bundle.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">@L("home_index_toggle")</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/images/shared/logo_small.png" alt="" class="logo" />
                <a class="navbar-brand page-scroll" href="#page-top"><span style="color: white">Chilli</span> Software</a>
                <div class="clearfix"></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">@L("home_index_services")</a>
                    </li>
                    <!--
                    <li>
                        <a class="page-scroll" href="#portfolio">@L("home_index_portfolio")</a>
                    </li>
                    -->
                    <li>
                        <a class="page-scroll" href="#about">@L("home_index_about")</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">@L("home_index_team")</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">@L("home_index_contact")</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">@L("home_index_copyright") &copy; Chilli Software 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://twitter.com/chillisoftware" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/chillisoftware" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/chilli-software/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a class="dark-link" href="/PrivacyPolicyAndContributions.txt">@L("home_index_privacy_policy")</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="/_app/shared/scripts/script.bundle.js"></script>
    <script src="/_app/home/scripts/script.bundle.js"></script>

    <environment names="Production">
        @Html.PartialAsync("_Analytics")
    </environment>
</body>

</html>
