@model dynamic

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">@L("home_index_welcome")</div>
            <div class="intro-heading">@L("home_index_welcome_2")</div>
            <a href="#services" class="page-scroll btn btn-xl">@L("home_index_find_more")</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@L("home_index_services")</h2>
                <h3 class="section-subheading text-muted">@L("home_index_services_desc")</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">@L("home_index_web_apps")</h4>
                <p class="text-muted">@L("home_index_web_apps_long")</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">@L("home_index_responsive")</h4>
                <p class="text-muted">@L("home_index_responsive_long")</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">@L("home_index_code")</h4>
                <p class="text-muted">@L("home_index_code_long")</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">@L("home_index_web_security")</h4>
                <p class="text-muted">
                    @L("home_index_web_security_long")
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">@L("home_index_databases")</h4>
                <p class="text-muted">
                    @L("home_index_databases_long")
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">@L("home_index_mobile_apps")</h4>
                <p class="text-muted">
                    @L("home_index_mobile_apps_long")
                </p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@L("home_index_about")</h2>
                <h3 class="section-subheading text-muted">@L("home_index_about_long")</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@L("home_index_problem_definition")</h4>
                                <h4 class="subheading">@L("home_index_problem_definition_h")</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@L("home_index_problem_definition_long")</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@L("home_index_sprint_plan")</h4>
                                <h4 class="subheading">@L("home_index_sprint_plan_h")</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@L("home_index_sprint_plan_long")</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@L("home_index_sprint")</h4>
                                <h4 class="subheading">@L("home_index_sprint_h")</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@L("home_index_sprint_long")</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@L("home_index_deliverables")</h4>
                                <h4 class="subheading">@L("home_index_deliverables_h")</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@L("home_index_deliverables_long")</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4><a class="page-scroll" href="#contact">@Html.Raw(@L("home_index_workwithus"))</a></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@L("home_index_who_are_we")</h2>
                <h3 class="section-subheading text-muted">@L("home_index_who_are_we_long")</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="team-member">
                    <img src="images/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Jakub Malczak</h4>
                    <p class="text-muted">@L("home_index_jm_title")</p>
                    <p>@L("home_index_jm_long")</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/malczu" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/malczu" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://linkedin.com/in/jakubmalczak" target="blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@L("home_index_get_in_touch_header")</h2>
                <h3 class="section-subheading text-muted">@L("home_index_get_in_touch")</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="contactForm" id="contactForm" novalidate>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div>
                                <input name="name" type="text" class="form-control" data-bind="value: name" placeholder='@L("home_index_form_name")' id="name" required data-msg='@L("home_index_fill_name")'>
                                <label for="name" class="error text-danger"></label>
                            </div>
                            <div>
                                <input name="email" type="email" class="form-control" data-bind="value: email" placeholder='@L("home_index_form_email")' id="email" required data-msg='@L("home_index_fill_email")'>
                                <label for="email" class="error text-danger"></label>
                            </div>
                            <div>
                                <input name="phone" type="tel" class="form-control" data-bind="value: phone" placeholder='@L("home_index_form_phone")' id="phone" required data-msg='@L("home_index_fill_phone")'>
                                <label for="phone" class="error text-danger"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <textarea name="message" class="form-control" data-bind="value: message" placeholder='@L("home_index_form_message")' id="message" required data-msg='@L("home_index_fill_message")'></textarea>
                                <label for="message" class="error text-danger"></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" data-bind="click: sendEmail" class="btn btn-xl">@L("home_index_send_message")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Center Stage</h2>
                        <p class="item-intro text-muted">Full Stack Development</p>
                        <img class="img-responsive img-centered" src="images/portfolio/centerstage_full.png" alt="">
                        <p>Full stack development of internal healthcare recruitment platform. Project consists of more than 10 microservices and 3 Angular, Node.Js, Asp.Net WebApi based applications.</p>
                        <ul class="list-inline">
                            <li>Date value=May 2015 - Now</li>
                            <li>Client value=Katon Direct</li>
                            <li>Category value=Full Stack Development</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Open Position Candidate</h2>
                        <p class="item-intro text-muted">Full Stack Development</p>
                        <img class="img-responsive img-centered" src="images/portfolio/op_candidate_full.png" alt="">
                        <p>Full stack development of internal healthcare recruitment platform. Project consists of more than 10 microservices and 3 Angular, Node.Js, Asp.Net WebApi based applications.</p>
                        <ul class="list-inline">
                            <li>Date value=May 2015 - Now</li>
                            <li>Client value=Katon Direct</li>
                            <li>Category value=Full Stack Development</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Open Position</h2>
                        <p class="item-intro text-muted">Ful Stack Development</p>
                        <img class="img-responsive img-centered" src="images/portfolio/op_full.png" alt="">
                        <p>Full stack development of internal healthcare recruitment platform. Project consists of more than 10 microservices and 3 Angular, Node.Js, Asp.Net WebApi based applications.</p>
                        <ul class="list-inline">
                            <li>Date value=May 2015 - Now</li>
                            <li>Client value=Katon Direct</li>
                            <li>Category value=Full Stack Development</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Pi Monitor</h2>
                        <p class="item-intro text-muted">Ful Stack Development</p>
                        <img class="img-responsive img-centered" src="images/portfolio/pi_monitor_full.png" alt="">
                        <p>Full stack development of painting process monitoring tool. Project consist of Python based client working on Raspberry Pi, reading sensor values via I2C itnerface. Data is persisted in local SQLite database and then synchronized with .NET WebApi based service.</p>
                        <ul class="list-inline">
                            <li>Date value=January 2015 - May 2015</li>
                            <li>Client value=Blowtherm</li>
                            <li>Category value=Full Stack Development</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Basf BfcPol</h2>
                        <p class="item-intro text-muted">Ful Stack Development</p>
                        <img class="img-responsive img-centered" src="images/portfolio/bfcpol_full.png" alt="">
                        <p>Inventory management tool including QR code generation. Project was written using SQL Server database and Microsoft .NET MVC framework.</p>
                        <ul class="list-inline">
                            <li>Date value=May 2015 - June 2015</li>
                            <li>Client value=Basf</li>
                            <li>Category value=Full Stack Development</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>LunchBox</h2>
                        <p class="item-intro text-muted">Ful Stack Development</p>
                        <img class="img-responsive img-centered" src="images/portfolio/lunchbox_full.png" alt="">
                        <p>Full inventory and planning tool for management of food orders. Project includes multiple reports, detailed order planner, integration with external systems. Project was written using SQL Server database, Microsoft .NET MVC framework. Client side code is based on knockout.js.</p>
                        <ul class="list-inline">
                            <li>Date value=May 2014 - April 2015</li>
                            <li>Client value=FelMed</li>
                            <li>Category value=Full Stack Development</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 7 -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Rysio Detektor</h2>
                        <p class="item-intro text-muted">Windows Phone App</p>
                        <img class="img-responsive img-centered" src="images/portfolio/rysio_full.png" alt="">
                        <p>Windows Phone Application created as part of marketing campaign. Application included integration with phone camera, sharing features and image processing.</p>
                        <ul class="list-inline">
                            <li>Date value=January 2014 - March 2015</li>
                            <li>Client value=FaceAddicted</li>
                            <li>Category value=Windows Phone App</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 8 -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Developer Abroad</h2>
                        <p class="item-intro text-muted">Full Stack Development</p>
                        <img class="img-responsive img-centered" src="images/portfolio/developer_abroad_full.png" alt="">
                        <p>Blog based on jekyll static blog engine in connection with Require.Js to load AMD modules. Blog include integration with MapBox maps.</p>
                        <ul class="list-inline">
                            <li>Date value=February 2014 - Now</li>
                            <li>Category value=Full Stack Development</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 9 -->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Open Source Contribution</h2>
                        <p class="item-intro text-muted">Full Stack Development</p>
                        <img class="img-responsive img-centered" src="images/portfolio/github_full.png" alt="">
                        <p>Contribution to multiple projects on GitHub, including one of our favouring deployment tools - Octopus Deploy, .NET sentry logger.</p>
                        <ul class="list-inline">
                            <li>Category value=Full Stack Development</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

